HOST_RELEASE_PATH=
RELEASE_BASE=/controller
PORT=3000

GITHUB_USER_AGENT=
GITHUB_PERSONAL_ACCESS_TOKEN=

#Frontend branches to link the api versions with
GITHUB_WEB_BRANCHES_URL=
#The compiled binary repo
GITHUB_API_RELEASE_BASE_URL=
#The source code repo
GITHUB_API_BASE_URL=
