.loader {
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.8);
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.lub-dub {
    width: 25%;

    animation: lub-dub 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
}
@keyframes lub-dub {
    0% {
        transform: scale(0.95);
    }
    5% {
        transform: scale(1.1);
    }
    39% {
        transform: scale(0.85);
    }
    45% {
        transform: scale(1);
    }
    60% {
        transform: scale(0.95);
    }
    100% {
        transform: scale(0.9);
    }
}

.console {
    background-color: black;
    width: 100%;
}

.console pre {
    color: #00ec00;
}
