ACTIX_WORKERS=1
ALLOWED_ORIGINS=*
API_BASE_URL=https://__API_BRANCH_URL__.scratch.bigneon.com/api
API_HOST=0.0.0.0
API_KEYS_ENCRYPTION_KEY=debug-encryption
API_PORT=8088
BLOCK_EXTERNAL_COMMS=0
BRANCH_IO_BRANCH_KEY=
COMMUNICATION_DEFAULT_SOURCE_EMAIL=
COMMUNICATION_DEFAULT_SOURCE_PHONE=
COOKIE_SECRET_KEY=
CUBE_JS_API_URL=https://__API_BRANCH_URL__.scratch.bigneon.com/cube
CUBE_JS_SECRET=__API_BRANCH_URL__
CUSTOMER_IO_API_KEY=
CUSTOMER_IO_BASE_URL=https://track.customer.io/api/v1/
CUSTOMER_IO_SITE_ID=
DATABASE_URL=postgres://postgres:password123@pg/__DB_NAME__
EMAIL_TEMPLATES_CUSTOM_BROADCAST=
EMAIL_TEMPLATES_ORG_INVITE=
EMAIL_TEMPLATES_PASSWORD_RESET=
EMAIL_TEMPLATES_TICKET_COUNT_REPORT=
ENVIRONMENT=Staging
ENV=production
FACEBOOK_APP_ID=
FACEBOOK_APP_SECRET=
FACEBOOK_URL=
FRONT_END_URL=https://__API_BRANCH_URL__.scratch.bigneon.com
GLOBEE_API_KEY=
GLOBEE_BASE_URL=
INSTAGRAM_URL=
IPN_BASE_URL=
MAX_INSTANCES_PER_TICKET_TYPE=10000
READONLY_DATABASE_URL=postgres://postgres:password123@pg/__DB_NAME__
RUST_BACKTRACE=full
RUST_LOG=debug,tokio_reactor=warn,actix_web::server::h1=info,hyper::proto::h1::io=info
REDIS_CONNECTION_STRING=redis://redis/
REDIS_CONNECTION_TIMEOUT_MILLI=30
REDIS_READ_TIMEOUT_MILLI=30
REDIS_WRITE_TIMEOUT_MILLI=30
REDIS_CACHE_PERIOD_MILLI=100000
SENDGRID_API_KEY=
SENDGRID_TEMPLATE_BN_CANCEL_TRANSFER_TICKETS=
SENDGRID_TEMPLATE_BN_CANCEL_TRANSFER_TICKETS_RECEIPT=
SENDGRID_TEMPLATE_BN_PURCHASE_COMPLETED=
SENDGRID_TEMPLATE_BN_REFUND=
SENDGRID_TEMPLATE_BN_TRANSFER_TICKETS=
SENDGRID_TEMPLATE_BN_TRANSFER_TICKETS_DRIP=
SENDGRID_TEMPLATE_BN_TRANSFER_TICKETS_DRIP_DESTINATION=
SENDGRID_TEMPLATE_BN_TRANSFER_TICKETS_DRIP_SOURCE=
SENDGRID_TEMPLATE_BN_TRANSFER_TICKETS_RECEIPT=
SENDGRID_TEMPLATE_BN_USER_INVITE=
SENDGRID_TEMPLATE_BN_USER_REGISTERED=
SETTLEMENT_PERIOD_IN_DAYS=1
SHARETRIBE_CLIENT_SECRET=
SPOTIFY_AUTH_TOKEN=M
STATIC_FILE_PATH=/build
STRIPE_SECRET_KEY=
TARI_URL=http://mockchain:7000
TOKEN_ISSUER=bg-sample-issuer
TOKEN_SECRET=12345
TWILIO_ACCOUNT_ID=
TWILIO_API_KEY=
