CUBEJS_API_SECRET=__API_BRANCH_URL__
CUBEJS_CACHE_AND_QUEUE_DRIVER=memory
CUBEJS_DB_HOST=pg
CUBEJS_DB_NAME=__DB_NAME__
CUBEJS_DB_USER=postgres
CUBEJS_DB_PASS=password123
CUBEJS_DB_TYPE=postgres
NODE_ENV=production
