DEBUG=1
ENV=development
NETLIFY_BASIC_AUTH=
REACT_APP_ABOUT_CHAT_URL=https://about.bigneon.com/#contact-chat
REACT_APP_ABOUT_URL=https://about.bigneon.com/
REACT_APP_API_PREFIX=https://__API_BRANCH_URL__.scratch.bigneon.com/api
REACT_APP_BRANCH_KEY=
REACT_APP_CLOUDINARY_API_KEY=
REACT_APP_CLOUDINARY_CLOUD_NAME=
REACT_APP_CLOUDINARY_UPLOAD_PRESET=
REACT_APP_CUBE_API_URL=https://__API_BRANCH_URL__.scratch.bigneon.com/cube
REACT_APP_DEFAULT_PAGE_LIMIT=50
REACT_APP_DRIFT_BOT_APP_ID=
REACT_APP_DRIFT_BOT_ORDER_CONFIRMATION_INTERACTION_ID=
REACT_APP_FACEBOOK_APP_ID=
REACT_APP_GOOGLE_ANALYTICS_KEY=
REACT_APP_GOOGLE_PLACES_API_KEY=
REACT_APP_NAME=BigNeon
REACT_APP_STORE_ANDROID=https://play.google.com/
REACT_APP_STORE_IOS=https://itunes.apple.com/
REACT_APP_STRIPE_API_KEY=
#REACT_APP_STRIPE_API_KEY=
REACT_APP_SUPPORT_URL=https://support.bigneon.com/hc/en-us
REACT_APP_WEB_URL=https://__API_BRANCH_URL__.scratch.bigneon.com
SITEMAP_URL=
