<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="refresh" content="60">
    <title>Scratchpad Is Coming</title>
    <style >
        .lub-dub {
            width: 60%;
            animation: lub-dub 2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        @keyframes lub-dub {
            0% {
                transform: scale(0.95);
            }
            5% {
                transform: scale(1.1);
            }
            39% {
                transform: scale(0.85);
            }
            45% {
                transform: scale(1);
            }
            60% {
                transform: scale(0.95);
            }
            100% {
                transform: scale(0.9);
            }
        }

    </style>
</head>
<body>
<div style="flex-direction: column; position: fixed; top: 0; left:0; height: 100%; width: 100%; background-color: #343a40; display: flex; justify-content: center; align-content: center; align-items: center">
    <h1 style="color: white">Your scratch is being built, please try again in a few minutes</h1>
    <br>
    <svg class="lub-dub" xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd" xmlns:svg="http://www.w3.org/2000/svg" xmlns:ns1="http://sozi.baierouge.fr" xmlns:xlink="http://www.w3.org/1999/xlink" id="svg2" sodipodi:docname="sadcomputer.svg" viewBox="0 0 126 126" sodipodi:version="0.32" version="1.0" inkscape:output_extension="org.inkscape.output.svg.inkscape" inkscape:version="0.46">
        <sodipodi:namedview id="base" bordercolor="#666666" inkscape:pageshadow="2" guidetolerance="10" pagecolor="#ffffff" gridtolerance="10000" inkscape:window-height="575" inkscape:zoom="2.8" objecttolerance="10" showgrid="true" borderopacity="1.0" inkscape:current-layer="layer1" inkscape:cx="27.526" inkscape:cy="52.957266" inkscape:window-y="2" inkscape:window-x="-5" inkscape:window-width="1024" inkscape:pageopacity="0.0" inkscape:document-units="px">
            <inkscape:grid id="grid2383" visible="true" type="xygrid" enabled="true" />
        </sodipodi:namedview>
        <g id="layer1" inkscape:label="Layer 1" inkscape:groupmode="layer" transform="translate(-49.5 -31.862)">
            <rect id="rect2387" style="stroke:#000000;fill:#000000" ry="18.214" height="105" width="105" y="42.362" x="60" />
            <rect id="rect3159" style="fill:#00ec00" height="5" width="5" y="57.362" x="75" />
            <rect id="rect3161" style="fill:#00ec00" height="5" width="5" y="62.362" x="80" />
            <rect id="rect3163" style="fill:#00ec00" height="5" width="5" y="67.362" x="85" />
            <rect id="rect3165" style="fill:#00ec00" height="5" width="5" y="72.362" x="90" />
            <rect id="rect3175" style="fill:#00ec00" height="5" width="5" y="77.362" x="95" />
            <rect id="rect3177" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="57.362" x="-100" />
            <rect id="rect3179" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="62.362" x="-95" />
            <rect id="rect3181" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="67.362" x="-90" />
            <rect id="rect3183" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="72.362" x="-85" />
            <rect id="rect3185" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="77.362" x="-80" />
            <rect id="rect3187" style="fill:#00ec00" height="5" width="5" y="57.362" x="125" />
            <rect id="rect3189" style="fill:#00ec00" height="5" width="5" y="62.362" x="130" />
            <rect id="rect3191" style="fill:#00ec00" height="5" width="5" y="67.362" x="135" />
            <rect id="rect3193" style="fill:#00ec00" height="5" width="5" y="72.362" x="140" />
            <rect id="rect3195" style="fill:#00ec00" height="5" width="5" y="77.362" x="145" />
            <rect id="rect3197" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="57.362" x="-150" />
            <rect id="rect3199" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="62.362" x="-145" />
            <rect id="rect3201" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="67.362" x="-140" />
            <rect id="rect3203" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="72.362" x="-135" />
            <rect id="rect3205" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="77.362" x="-130" />
            <rect id="rect3207" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="127.36" x="-85" />
            <rect id="rect3209" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="122.36" x="-85" />
            <rect id="rect3211" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="117.36" x="-90" />
            <rect id="rect3213" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="112.36" x="-95" />
            <rect id="rect3215" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="112.36" x="-100" />
            <rect id="rect3217" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="112.36" x="-105" />
            <rect id="rect3219" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="112.36" x="-110" />
            <rect id="rect3221" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="112.36" x="-115" />
            <rect id="rect3223" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="112.36" x="-120" />
            <rect id="rect3225" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="112.36" x="-125" />
            <rect id="rect3227" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="112.36" x="-130" />
            <rect id="rect3229" style="fill:#00ec00" transform="scale(-1,1)" height="5" width="5" y="112.36" x="-135" />
            <rect id="rect3231" style="fill:#00ec00" height="5" width="5" y="127.36" x="140" />
            <rect id="rect3233" style="fill:#00ec00" height="5" width="5" y="122.36" x="140" />
            <rect id="rect3235" style="fill:#00ec00" height="5" width="5" y="117.36" x="135" />
            <rect id="rect3237" style="fill:#00ec00" height="5" width="5" y="112.36" x="130" />
            <rect id="rect3239" style="stroke:#000000;fill:none" height="125" width="125" y="32.362" x="50" />
        </g>
        <metadata>
            <rdf:RDF>
                <cc:Work>
                    <dc:format>image/svg+xml
                    </dc:format>
                    <dc:type rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
                    <cc:license rdf:resource="http://creativecommons.org/licenses/publicdomain/" />
                    <dc:publisher>
                        <cc:Agent rdf:about="http://openclipart.org/">
                            <dc:title>Openclipart
                            </dc:title>
                        </cc:Agent>
                    </dc:publisher>
                    <dc:title>Sad Computer
                    </dc:title>
                    <dc:date>2011-02-24T01:38:49
                    </dc:date>
                    <dc:description />
                    <dc:source>https://openclipart.org/detail/122083/sad-computer-by-dear_theophilus
                    </dc:source>
                    <dc:creator>
                        <cc:Agent>
                            <dc:title>dear_theophilus
                            </dc:title>
                        </cc:Agent>
                    </dc:creator>
                    <dc:subject>
                        <rdf:Bag>
                            <rdf:li>broken
                            </rdf:li>
                            <rdf:li>computer
                            </rdf:li>
                            <rdf:li>emoticon
                            </rdf:li>
                            <rdf:li>old
                            </rdf:li>
                            <rdf:li>sad
                            </rdf:li>
                        </rdf:Bag>
                    </dc:subject>
                </cc:Work>
                <cc:License rdf:about="http://creativecommons.org/licenses/publicdomain/">
                    <cc:permits rdf:resource="http://creativecommons.org/ns#Reproduction" />
                    <cc:permits rdf:resource="http://creativecommons.org/ns#Distribution" />
                    <cc:permits rdf:resource="http://creativecommons.org/ns#DerivativeWorks" />
                </cc:License>
            </rdf:RDF>
        </metadata>
    </svg>

</div>
</body>
</html>
