DATABASE_NAME=mockchain

TEST_DATABASE_URL=postgres://postgres:password123@pg/mockchain-test
TEST_DATABASE_ADMIN_URL=postgres://postgres:password123@pg/mockchain-test

DATABASE_URL=postgres://postgres:password123@pg/mockchain
DATABASE_ADMIN_URL=postgres://postgres:password123@pg/mockchain

MOCKCHAIN_URL=0.0.0.0
MOCKCHAIN_PORT=7000

SSH_KEY=
